@charset "UTF-8";
<style>
body {
	background: #f4f4f4; 
	font-family: 'Roboto', sans-serif;
}

.board-header {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
	font-size: 30px;
}

.registration-form-container {
	background: #fff;
	padding: 20px;
	margin: 0 auto;
	width: 60%; 
	
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.form-group {
	margin-bottom: 15px;
}

.title {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-line-group {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.single-line-group input,
.single-line-group button {
    flex-grow: 1;
}

#checkMerId {
    flex-grow: 0;
    padding: 10px 15px; 
}

.phone-number-group {
    display: flex;
    gap: 10px; 
}

.phone-number-group input {
    flex: 1;
}

.box {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.error-message {
	color: red;
	font-size: 12px;
	display: none; 
	margin-bottom: 10px;
	margin-top: 15px;
}

.button-group {
	text-align: center;
	margin-top: 20px;
}

input[type="reset"] {
	padding: 10px 20px;
	margin: 0 10px;
	border: none;
	border-radius: 4px;
	background-color: #c0c0c0; 
	color: black;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="button"] {
	padding: 10px 20px;
	margin: 0 10px;
	border: none;
	border-radius: 4px;
	background-color: #50E5B4; 
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}


.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.flex-header {
	flex: 1;
	font-weight: bold;
	color: #666;
}

.flex-content {
	flex: 2;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
	margin-bottom: -5px;
}

@media ( max-width : 768px) {
	.registration-form-container {
		width: 90%;
	}
	.flex-row {
		flex-direction: column;
	}
}
</style>