<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oz.ozHouseAdmin.mapper.memberMapper">

	<select id="allMember" resultType="MemberDTO">
		select * from member
	</select>
	
	<select id="countMember" resultType="int">
		select count(*) from member
	</select>
	
	<select id="getMember" parameterType="String" resultType="memberDTO">
		select * from member where member_num = #{member_num}
	</select>
	
	<select id="searchMemberList" parameterType="Map" resultType="memberDTO">
    SELECT * 
    FROM member m 
    WHERE 
    <if test="startDate != null and endDate != null">
        m.member_joindate BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="startDate != null and endDate != null and search == 'all' and searchString != null">
        AND 
    </if>
    <if test="search == 'all' and searchString != null">
        (
            m.member_id LIKE '%' || #{searchString} || '%' 
            OR m.member_num LIKE '%' || #{searchString} || '%' 
            OR m.member_level LIKE '%' || #{searchString} || '%' 
            OR m.member_name LIKE '%' || #{searchString} || '%' 
            OR m.member_nickname LIKE '%' || #{searchString} || '%' 
        )
    </if>
    <if test="startDate != null and endDate != null and search != null and search == 'member_id'">
        AND 
    </if>
    <if test="search != null and search == 'member_id'">
        m.member_id LIKE '%' || #{searchString} || '%' 
    </if>
    <if test="startDate != null and endDate != null and search != null and search == 'member_num'">
        AND 
    </if>
    <if test="search != null and search == 'member_num'">
        m.member_num LIKE '%' || #{searchString} || '%' 
    </if>
    <if test="startDate != null and endDate != null and search != null and search == 'member_level'">
        AND 
    </if>
    <if test="search != null and search == 'member_level'">
        m.member_level LIKE '%' || #{searchString} || '%' 
    </if>
    <if test="startDate != null and endDate != null and search != null and search == 'member_name'">
        AND 
    </if>
    <if test="search != null and search == 'member_name'">
        m.member_name LIKE '%' || #{searchString} || '%' 
    </if>
    <if test="startDate != null and endDate != null and search != null and search == 'member_nickname'">
        AND 
    </if>
    <if test="search != null and search == 'member_nickname'">
        m.member_nickname LIKE '%' || #{searchString} || '%' 
    </if>
</select>
</mapper>